In [11]:
        # print 0 to 20 by using range
list = range(0,20)
for i in list:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [24]:
        # print range 10 to 20
a=range(10,20)
for i in a:
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [38]:
        # Print number of items in the list by using 'len'
List=[10, 20, 14, 55, 43, 87, 76]
print(List)
print("Number of item in the list2:")
print(len(List))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list2:
7

In [40]:
AI = "Artificial Intelligence"
print(AI)
for i in AI:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [42]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [23]:
#print yhis mixered datatype using Tuples
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [2]:
        #nested tuple
tup = (0, 1, 2, 3)
tup1 =('python','hope') 
((0, 1, 2, 3), ('python', 'HOPE'))

((0, 1, 2, 3), ('python', 'HOPE'))

In [41]:
#Print Odd Numbers in the list
#number1=int(input("Enter the number:"))
num11=(20,10,16,19,25,1,276,188)
print(num11)
for no in num11:
    if no%2 :
        print(no,"Is odd")
    #else :
        #print (no,"Is even")

(20, 10, 16, 19, 25, 1, 276, 188)
19 Is odd
25 Is odd
1 Is odd

In [50]:
# print Even numbers in the list
#(20,10,16,19,25,1,276,188)
#20 is odd
#10 is odd
#16 is odd
numm11 = (20,10,16,19,25,1,276,188)
print(num11)
for num in numm11:
    if num%2==0:
        print(num," is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even